<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <!--MSSQL = SQL Server-->
    <add key="provider" value="MSSQL"/>
    <add key="server" value=".\SQLEXPRESS"/>
    <add key="database" value="TreinaWebCSharpIntermediario"/>
    <add key="user" value="sa"/>
    <add key="password" value="admin123"/>
    <!--MYSQL = MySQL-->
    <!--
    <add key="provider" value="MYSQL"/>
    <add key="server" value="localhost"/>
    <add key="database" value="TreinaWebCSharpIntermediario"/>
    <add key="user" value="root"/>
    <add key="password" value="admin"/>
    -->
  </appSettings>
</configuration>